* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reg-form {
  width: 300px;
}




